In [1]:
import pandas as pd
import numpy as np

In [2]:
# read the csv file MovieGenre.csv
df = pd.read_csv('MovieGenre.csv', encoding = 'latin1')
df.head()

,imdbId,Imdb Link,Title,IMDB Score,Genre,Poster
0,114709,http://www.imdb.com/title/tt114709,Toy Story (1995),8.3,Animation|Adventure|Comedy,https://images-na.ssl-images-amazon.com/images...
1,113497,http://www.imdb.com/title/tt113497,Jumanji (1995),6.9,Action|Adventure|Family,https://images-na.ssl-images-amazon.com/images...
2,113228,http://www.imdb.com/title/tt113228,Grumpier Old Men (1995),6.6,Comedy|Romance,https://images-na.ssl-images-amazon.com/images...
3,114885,http://www.imdb.com/title/tt114885,Waiting to Exhale (1995),5.7,Comedy|Drama|Romance,https://images-na.ssl-images-amazon.com/images...
4,113041,http://www.imdb.com/title/tt113041,Father of the Bride Part II (1995),5.9,Comedy|Family|Romance,https://images-na.ssl-images-amazon.com/images...

In [3]:
# create A dataframe with the columns 'Title' and 'Genre' and IMDB score

df1 = df[['Title', 'Genre', 'IMDB Score']].head(1000)
df1.head(6)

                                Title                       Genre  IMDB Score
0                    Toy Story (1995)  Animation|Adventure|Comedy         8.3
1                      Jumanji (1995)     Action|Adventure|Family         6.9
2             Grumpier Old Men (1995)              Comedy|Romance         6.6
3            Waiting to Exhale (1995)        Comedy|Drama|Romance         5.7
4  Father of the Bride Part II (1995)       Comedy|Family|Romance         5.9
5                         Heat (1995)          Action|Crime|Drama         8.2

In [4]:
# split the Genre column by its delimiter '|'
df1['Genre'] = df1['Genre'].str.split('|')
df1.head()

,Title,Genre,IMDB Score
0,Toy Story (1995),"[Animation, Adventure, Comedy]",8.3
1,Jumanji (1995),"[Action, Adventure, Family]",6.9
2,Grumpier Old Men (1995),"[Comedy, Romance]",6.6
3,Waiting to Exhale (1995),"[Comedy, Drama, Romance]",5.7
4,Father of the Bride Part II (1995),"[Comedy, Family, Romance]",5.9

In [5]:
print(df1.tail())

                                             Title  \
995                               Pollyanna (1960)
996  Homeward Bound: The Incredible Journey (1993)
997                          The Shaggy Dog (1959)
998                   Swiss Family Robinson (1960)
999                          That Darn Cat! (1965)

                          Genre  IMDB Score
995             [Drama, Family]         7.3
996  [Adventure, Comedy, Drama]         6.9
997   [Family, Comedy, Fantasy]         6.5
998         [Adventure, Family]         7.2
999     [Comedy, Crime, Family]         6.7

In [6]:
# dropping the na rows
# df = df[df['Genre'].notna()]
df1 = df1.dropna()

# separating the genres into different columns

# #For every row in the dataframe, iterate through the list of genres(which is in an array) and place a 1 into the corresponding column 

for index, row in df1.iterrows():
    # print(row)
    for genre in row['Genre']:
        # print(type(row['Genre']))   
        df1.at[index, genre] = 1

# fill in the NaN values with 0 to show that a movie doesn't have that column's genre
df1 = df1.fillna(0)
df1.head()

,Title,Genre,IMDB Score,Animation,Adventure,Comedy,Action,Family,Romance,Drama,...,Mystery,Sci-Fi,War,Sport,Music,Documentary,Musical,Western,Short,Film-Noir
0,Toy Story (1995),"[Animation, Adventure, Comedy]",8.3,1.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Jumanji (1995),"[Action, Adventure, Family]",6.9,0.0,1.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Grumpier Old Men (1995),"[Comedy, Romance]",6.6,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Waiting to Exhale (1995),"[Comedy, Drama, Romance]",5.7,0.0,0.0,1.0,0.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Father of the Bride Part II (1995),"[Comedy, Family, Romance]",5.9,0.0,0.0,1.0,0.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
# create user input
# movies user 1 has watched
userInput = [
            {'Title':df1['Title'].loc[df1.index[0]], 'Rating':6},
            {'Title':df1['Title'].loc[df1.index[1]],  'Rating':8},
            {'Title':df1['Title'].loc[df1.index[2]], 'Rating':2},
            {'Title':df1['Title'].loc[df1.index[7]],  'Rating':9},
            {'Title':df1['Title'].loc[df1.index[9]],  'Rating':5},
            {'Title':df1['Title'].loc[df1.index[10]],  'Rating':4}
         ] 

# create a dataframe with the movies and the rating
inputMovies = pd.DataFrame(userInput)
inputMovies

# u1_ratings = np.array([inputMovies['Rating'].to_numpy()])
u1_ratings = inputMovies['Rating'].to_numpy()

print(u1_ratings,u1_ratings.shape)

[6 8 2 9 5 4] (6,)

In [8]:
# normalizing imdb score
df1['IMDB Score'] = df1['IMDB Score'].map(lambda score: score/10)

In [9]:
# final movie genre matrix

f_df = df1.drop(['Title','Genre'],axis='columns')
f_df.head()

,IMDB Score,Animation,Adventure,Comedy,Action,Family,Romance,Drama,Crime,Thriller,...,Mystery,Sci-Fi,War,Sport,Music,Documentary,Musical,Western,Short,Film-Noir
0,0.83,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.69,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.66,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.57,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.59,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:
# getting the genre matrix for the movies user1 has watched
# mask = np.zeros(f_df.shape[0])
idx = [0,1,2,7,9,10]
# for id in idx:
#     mask[id]=1

# print(mask)
C1 = f_df.iloc[idx]
# # .to_numpy()
print(C1)
print(C1.shape)

    IMDB Score  Animation  Adventure  Comedy  Action  Family  Romance  Drama  \
0         0.83        1.0        1.0     1.0     0.0     0.0      0.0    0.0
1         0.69        0.0        1.0     0.0     1.0     1.0      0.0    0.0
2         0.66        0.0        0.0     1.0     0.0     0.0      1.0    0.0
7         0.56        0.0        1.0     1.0     0.0     0.0      0.0    1.0
9         0.72        0.0        1.0     0.0     1.0     0.0      0.0    0.0
10        0.68        0.0        0.0     1.0     0.0     0.0      1.0    1.0

    Crime  Thriller  ...  Mystery  Sci-Fi  War  Sport  Music  Documentary  \
0     0.0       0.0  ...      0.0     0.0  0.0    0.0    0.0          0.0
1     0.0       0.0  ...      0.0     0.0  0.0    0.0    0.0          0.0
2     0.0       0.0  ...      0.0     0.0  0.0    0.0    0.0          0.0
7     0.0       0.0  ...      0.0     0.0  0.0    0.0    0.0          0.0
9     0.0       1.0  ...      0.0     0.0  0.0    0.0    0.0          0.0
10    0.0       0.0  ...      0.0     0.0  0.0    0.0    0.0          0.0

    Musical  Western  Short  Film-Noir
0       0.0      0.0    0.0        0.0
1       0.0      0.0    0.0        0.0
2       0.0      0.0    0.0        0.0
7       0.0      0.0    0.0        0.0
9       0.0      0.0    0.0        0.0
10      0.0      0.0    0.0        0.0

[6 rows x 24 columns]
(6, 24)

In [11]:
# to get user 1's genre weighted matrix

print(f"the dimensions are {u1_ratings.shape} and {C1.shape}")

u1_weights = np.matmul(u1_ratings, C1)
# print(u1_weights)

sum=0
for i in u1_weights:
  sum+=i
# print(u0_weights,sum)
final_genre_vector=[]
for i in range(len(u1_weights)):
  # print(i)
  # print(u0_weights[0][i]/sum)
  final_genre_vector.append(u1_weights[i]/sum)
final_genre_vector = np.array(final_genre_vector)
print("Your final weighted genre matrix for user1 vector is:",final_genre_vector, final_genre_vector.shape,sep="\n")

the dimensions are (6,) and (6, 24)
Your final weighted genre matrix for user1 vector is:
[0.1881799  0.04870921 0.22730963 0.17048222 0.10553661 0.06494561
 0.04870921 0.10553661 0.         0.04059101 0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.        ]
(24,)

In [12]:
# for the new movies

p_df = f_df.loc[11:61]
p_df.head()

,IMDB Score,Animation,Adventure,Comedy,Action,Family,Romance,Drama,Crime,Thriller,...,Mystery,Sci-Fi,War,Sport,Music,Documentary,Musical,Western,Short,Film-Noir
11,0.58,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,0.71,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,0.71,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,0.56,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,0.82,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [13]:
C2 = p_df.to_numpy()
print(C2,C2.shape,sep="\n")

[[0.58 0.   0.   ... 0.   0.   0.  ]
 [0.71 1.   1.   ... 0.   0.   0.  ]
 [0.71 0.   0.   ... 0.   0.   0.  ]
 ...
 [0.59 0.   0.   ... 0.   0.   0.  ]
 [0.61 0.   0.   ... 0.   0.   0.  ]
 [0.73 0.   0.   ... 0.   0.   0.  ]]
(51, 24)

In [14]:
# so now we have to multiply our user genre weighted matrix which is in final_genre_vector and our new movie matrix which is in C2

print("the dimensions are: \n", final_genre_vector.shape, C2.shape)

C2t = C2.transpose()
print(C2t.shape)

the dimensions are:
 (24,) (51, 24)
(24, 51)

In [15]:
# so our new multiplication will now be final_genre_vector * C2t

aans = np.matmul(final_genre_vector,C2t)
print(aans,'\n',aans.shape)

[0.27962656 0.51516318 0.23914434 0.60870921 0.25984413 0.29914434
 0.29656275 0.51634519 0.38139958 0.34091736 0.22973535 0.26468095
 0.22785355 0.29726254 0.28408995 0.45269037 0.25043514 0.14489852
 0.28973535 0.22597175 0.19113492 0.39833577 0.46892677 0.28408995
 0.24855334 0.51822698 0.39139958 0.34715376 0.27597175 0.24667154
 0.33903556 0.23161715 0.44199058 0.40398117 0.44139958 0.26737133
 0.50763598 0.28032635 0.26737133 0.34199058 0.35279916 0.24855334
 0.33892677 0.22785355 0.55682741 0.44892677 0.42091736 0.28914434
 0.28150836 0.26091736 0.24290794]
 (51,)

In [16]:
aans = (aans.argsort())[50:30:-1]
print(aans)

pred_arr = []

for i in aans:
    pred_arr.append(df1.Title[i+11])

print(pred_arr)

[ 3 44 25  7  1 36 22 15 45 32 34 46 33 21 26  8 40 27 39  9]
['Cutthroat Island (1995)', 'Kids of the Round Table (1995)', 'Across the Sea of Time (1995)', 'Ace Ventura: When Nature Calls (1995)', 'Balto (1995)', 'Pocahontas (1995)', 'Babe (1995)', 'Now and Then (1995)', 'Home for the Holidays (1995)', 'Mortal Kombat (1995)', 'How to Make an American Quilt (1995)', 'Il Postino: The Postman (1994)', 'To Die For (1995)', 'Wings of Courage (1995)', 'It Takes Two (1995)', 'Money Train (1995)', 'Mighty Aphrodite (1995)', 'Clueless (1995)', 'Guardian Angel (1994)', 'Get Shorty (1995)']

In [17]:

df1.iloc[aans+11]

,Title,Genre,IMDB Score,Animation,Adventure,Comedy,Action,Family,Romance,Drama,...,Mystery,Sci-Fi,War,Sport,Music,Documentary,Musical,Western,Short,Film-Noir
14,Cutthroat Island (1995),"[Action, Adventure, Comedy]",0.56,0.0,1.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
55,Kids of the Round Table (1995),"[Adventure, Comedy, Family]",0.50,0.0,1.0,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
36,Across the Sea of Time (1995),"[Adventure, Drama, Family]",0.64,0.0,1.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,Ace Ventura: When Nature Calls (1995),"[Adventure, Comedy, Crime]",0.63,0.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,Balto (1995),"[Animation, Adventure, Drama]",0.71,1.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
47,Pocahontas (1995),"[Animation, Adventure, Drama]",0.67,1.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
33,Babe (1995),"[Comedy, Drama, Family]",0.68,0.0,0.0,1.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
26,Now and Then (1995),"[Comedy, Drama, Romance]",0.68,0.0,0.0,1.0,0.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
56,Home for the Holidays (1995),"[Comedy, Drama, Romance]",0.66,0.0,0.0,1.0,0.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
43,Mortal Kombat (1995),"[Action, Adventure, Fantasy]",0.58,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
45,How to Make an American Quilt (1995),"[Comedy, Drama, Romance]",0.62,0.0,0.0,1.0,0.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
57,Il Postino: The Postman (1994),"[Biography, Comedy, Drama]",0.77,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
44,To Die For (1995),"[Comedy, Crime, Drama]",0.68,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
32,Wings of Courage (1995),"[Adventure, Romance]",0.65,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
37,It Takes Two (1995),"[Comedy, Family, Romance]",0.57,0.0,0.0,1.0,0.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,Money Train (1995),"[Action, Comedy, Crime]",0.56,0.0,0.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
51,Mighty Aphrodite (1995),"[Comedy, Fantasy, Romance]",0.71,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
38,Clueless (1995),"[Comedy, Romance]",0.68,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
50,Guardian Angel (1994),"[Action, Drama, Thriller]",0.48,0.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20,Get Shorty (1995),"[Comedy, Crime, Thriller]",0.69,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0